.sidebar {
	text-align: center;
}

.sidebar, .topbar {
	background-color: #F5F5F5;
}

.icon {
	width: 100%;
}

.container {
	margin-top: 50px;
}

.sidebar .row {
	margin-bottom: 20px;
}
.sidebar div[class^="col"] {
	border-top: 1px solid transparent;
}
   

.sidebar div[class^="col"]:hover {
	border: 1px solid #000;
}

.sidebar div[class^="col"] {
	font-size: 10px;
}

.sidebar .dropright {
	font-size: 10px;
}

.sidebar .active {
	background-color: lightblue;
}

#clear {
	font-size: 20px;
}

#topbar {
	background: #F5F5F5;
	font-size: 10px;
	height: 60px;
	padding: 5px 10px;
}

#topbar i{
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #000;
}


#thickness {
	display: none;
}

#font-option {
	font-size: 25px;
	display: none;
}

#font-option > div {
	margin: 0 10px;
}

#font-option label {
	display: inline-block;
	height: 20px;
}

.form-group {
	margin: 0;
}


/* color picker */
.color-picker .row {
	margin: 0;
}

.color-picker div[class~="col-3"] {
	border: 1px solid black;
	height: 40px;
}


/* canvas */
.canvas-container{
	position: relative;
	width: 832.5px;
	height: 460px;
	padding: 0;
	overflow: hidden;
}

.canvas-container > canvas{
	position: absolute;
	top:0;
	left: 0;
}

#canvasReal, #canvasDraft {
	background-color: #ccc;
	position: absolute;
	top: 0;
	left: 0;
}
#canvasDraft {
	background-color: transparent;
}
#canvasRect{
	position: relative;
}
.canvas-container #canvas-draft{
	background-color: transparent;

}

/* slider css */

div.effects {
	padding: 15px;
}

#mother-slider div div {
	display: none;
}
