.sidebar {
	text-align: center;
}

.sidebar, .topbar {
	background-color: #F5F5F5;
}

.icon {
	width: 100%;
}

.container {
	margin-top: 50px;
}

.sidebar .row {
	margin-bottom: 20px;
}
.sidebar div[class^="col"] {
	border-top: 1px solid transparent;
}
   

.sidebar div[class^="col"]:hover {
	border: 1px solid #000;
}

.sidebar div[class^="col"] {
	font-size: 10px;
}

.sidebar .dropright {
	font-size: 10px;
}

.sidebar .active {
	background-color: lightblue;
}

#clear {
	font-size: 20px;
}

#topbar {
	background: #F5F5F5;
	font-size: 10px;
	height: 60px;
	padding: 5px 10px;
}

#topbar i{
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #000;
}


#thickness {
	display: none;
}

#font-option {
	font-size: 25px;
	display: none;
}

#font-option > div {
	margin: 0 10px;
}

#font-option label {
	display: inline-block;
	height: 20px;
}

.form-group {
	margin: 0;
}


/* color picker */
.color-picker .row {
	margin: 0;
}

.color-picker div[class~="col-3"] {
	border: 1px solid black;
	height: 40px;
}


/* canvas */

#canvasField {
	background-color: #ccc;
}


